<h1><%= @title %></h1>


<div class="report">
  <h3>/users/PZS0562</h3>
  <div class="chart chart1" data-title = "Blocks", data-limit = "524288000", data-value="101800800"></div>
  <div class="chart chart2" data-title = "Files", data-limit = "1000000", data-value="916417"></div>
</div>

<div class="report">
  <h3>/users/PZS0530</h3>
  <div class="chart chart3" data-title = "Blocks", data-limit = "524288000", data-value="33352"></div>
  <div class="chart chart4" data-title = "Files", data-ranges = "1000000", data-value="2"></div>
</div>

Output generated: <%= Time.now %>

<pre>
$ <%= @command %>
<%= @output %>

$ quota
Disk quotas for user efranz (uid 10851):
     Filesystem  blocks   quota   limit   grace   files   quota   limit   grace
10.11.200.25:/PZS0530/
                  33352  524288000 524288000               2  1000000 1000000
10.11.200.23:/PZS0562/
                101800800  524288000 524288000          916451  1000000 1000000
</pre>

<%= erb(:chart) %>
<script>

$(".chart").each(function(){
  var d = $(this).data();
  chart(this, d.title, d.limit, d.value);
});

//chart($('.chart1').get(0), "Blocks", 524288000, 101800800);
</script>
