<h1 class="display-4 py-3 mb-3 border-bottom">
  <%= title %>
</h1>

<pre><code>$ <%= @command %></code></pre>

<table class="table">
  <caption>
    Last updated <%= DateTime.now.strftime("%Y-%m-%d %I:%M:%S%p %Z") %>
  </caption>

  <thead class="thead-light">
    <tr>
      <th scope="col">USER</th>
      <th scope="col">PID</th>
      <th scope="col">%CPU</th>
      <th scope="col">%MEM</th>
      <th scope="col">VSZ</th>
      <th scope="col">RSS</th>
      <th scope="col">TTY</th>
      <th scope="col">STAT</th>
      <th scope="col">START</th>
      <th scope="col">TIME</th>
      <th scope="col">COMMAND</th>
    </tr>
  </thead>

  <tbody>
    <% @processes.each do |app| %>
      <tr>
        <td scope="row"><%= app.user %></td>
        <td scope="row"><%= app.pid %></td>
        <td scope="row"><%= app.pct_cpu %></td>
        <td scope="row"><%= app.pct_mem %></td>
        <td scope="row"><%= app.vsz %></td>
        <td scope="row"><%= app.rss %></td>
        <td scope="row"><%= app.tty %></td>
        <td scope="row"><%= app.stat %></td>
        <td scope="row"><%= app.start %></td>
        <td scope="row"><%= app.time %></td>
        <td scope="row"><%= app.command %></td>
      </tr>
    <% end %>
  </tbody>

</table>
