<h1><%= @title %></h1>

Output generated: <%= Time.now %>

<pre>
$ <%= @command %>
</pre>

<table class="table table-bordered">
  <tr>
    <th>Volume</th>
    <th>Blocks</th>
    <th>Blocks Quota</th>
    <th>Blocks Limit</th>
    <th>Blocks Grace</th>
    <th>Files</th>
    <th>Files Quota</th>
    <th>Files Limit</th>
    <th>Files Grace</th>
  </tr>
  <% @volumes.each do |volume| %>
  <tr>
    <td><%= volume.name %></td>
    <td><%= volume.blocks %></td>
    <td><%= volume.blocks_quota %></td>
    <td><%= volume.blocks_limit %></td>
    <td><%= volume.blocks_grace %></td>
    <td><%= volume.files %></td>
    <td><%= volume.files_quota %></td>
    <td><%= volume.files_limit %></td>
    <td><%= volume.files_grace %></td>
  </tr>
  <% end %>

</table>
